/*Estilos comunes a toda la página*/
/******************************************************************************/
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /*display: flex;*/
    flex-wrap: wrap;
    font-family: 'Jost', sans-serif;
    background-color:#FAA299;
    font-size: 1em;
}
/*Estilos de la barra de navegación y sus elementos*/
/******************************************************************************/
.navbar{
    align-self: flex-start;
    max-height: 80px;
    width: 100%;
    background-color:#562349;
}

.nav-link{
    color:#000000;
}

.nav-link:hover{
    color: #FEE2B3;
}

.logo-brand{
    margin-left: 6em;
    min-width: 30px;
    max-width: 50px;
}

.navbar-toggler{font-size: 40px;}
.navbar-toggler:focus{outline:none;}

.nav-item:last-child{
  margin-right: 8em;
}

/*Estilos del footer*/
/******************************************************************************/
footer{
    align-self: flex-end;
    background-color: #562349 ;
    line-height: 3;
    text-align:center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

section{
  height: 515px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEE2B3;
  width: 80%;
  padding-top: 3%;
  padding-bottom: 5%;
}

footer > p, a > span, footer > a{
  color: white;
}

/*Estilos comunes de la sección principal, independientemente de que la ocupe*/
/******************************************************************************/

.container{
    width: 60%;
    height: 450px;
    padding: 2%;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/*Estilos de la seccion principal cuando la ocupan artistas o canciones*/
/******************************************************************************/
#container{
    width: 80%;
}

#container > .row{
    height: 45%;
    padding-bottom: 3%;
}

#container > .row > div{
    border: 0px;
    /*background: #ad6989;*/
}

.imagenes{
    width: 180px;
    height: 100px;
}

.like{
    width: 50px;
    height: 50px;
}


/*Estilos de la sección principal cuando esta ocupada por un formulario*/
/*******************************************************************************************/

#container2, #container3, #container4{
    background: #ad6989;
    justify-content: center;
    align-items: center;
}

#container2 > .row, #container3 > .row, #container4 >.row{
    align-items: center;
    justify-content: center;
}

div > input{
    width:80%;
}

/*Margins y paddings para los farmularios en función de el espacio que ocupen
los campos*/
/******************************************************************************/
#container4 > div> form > div:first-child{
    padding-top: 5%;
}

#container4 > div> form > div{
    padding: 3%;
}

#container3 > div> form > div:first-child{
    padding-top: 1%;
}

#container3 > div> form > div{
    padding: 1%;
}

#container2 > div > form > div:first-child{
    padding-top: 14%;
}

#container2 > div> form > div{
    padding: 5%;
}
/*******************************************************************************/
.select {
  position: relative;
  border: 1px solid #ccc;
  width: 120px;
  overflow: hidden;
  background-color: #fff;
}

.select:before {
    content: '';
    position: absolute;
    right: 5px;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    z-index: 5;
    pointer-events: none;
}

.select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
}

.btn-secondary{
    background-color: #ad6989;
}

.btn-primary{
  background-color: #562349;
}

.btn-primary:hover, .btn-secondary:hover{
  background-color: #FAA299;
}

.modal-content{
  background-color:#FEE2B3;
  margin-top: 20%;
}